# Setup

## Postgres docker images

In [11]:
!docker pull postgres:9.6
!docker run -p 5430:5432 --name jupy-old-postgres -e POSTGRES_PASSWORD=mysecretpassword -d postgres:9.6

9.6: Pulling from library/postgres
Digest: sha256:2f2b1f4d9d83db7378584d7f41b15a49b2cea25956af67698f8ea80e3bdc28ba
Status: Image is up to date for postgres:9.6
2dc70f1982495634a4e24499bfe63c34c6ba3a8b40b6db5dfffb3fe7e625d213

In [12]:
!docker pull postgres:10
!docker run -p 5431:5432 --name jupy-new-postgres -e POSTGRES_PASSWORD=mysecretpassword -d postgres:10

10: Pulling from library/postgres
Digest: sha256:95e54755cb3a59a56dc2d98d8e8a0b4436537185c7b240eb140069208ec35e22
Status: Image is up to date for postgres:10
dac7cbe6579a9a1a4386396ce3f23b59e73e443ff649124b52c32094399ae166

## Connection to database(s)

### [jupyter sql magic](https://github.com/catherinedevlin/ipython-sql) used

In [13]:
%reload_ext sql
connection96="postgresql+psycopg2://postgres:mysecretpassword@localhost:5430/postgres"
connection10="postgresql+psycopg2://postgres:mysecretpassword@localhost:5431/postgres"

In [14]:
%%sql $connection96
select current_setting('server_version');

1 rows affected.

[(u'9.6.5',)]

In [15]:
%%sql $connection10
select current_setting('server_version')

1 rows affected.

[(u'10.0',)]

#  1. Identity columns

In [16]:
%%sql $connection10
CREATE TABLE foo (id INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY, val1 INTEGER);
INSERT INTO foo(val1) VALUES (1);

Done.
1 rows affected.

[]

In [17]:
%%sql $connection10
ALTER TABLE foo ALTER COLUMN id RESTART WITH 1000;
INSERT INTO foo(val1) VALUES (2);

Done.
1 rows affected.

[]

In [18]:
%%sql $connection10
CREATE TABLE bar (LIKE foo INCLUDING ALL);
INSERT INTO bar(val1) VALUES (3);
INSERT INTO foo(val1) VALUES (4);

Done.
1 rows affected.
1 rows affected.

[]

In [19]:
%%sql $connection10 
SELECT id, val1, 'foo' as tbl FROM foo
UNION
SELECT id, val1, 'bar' as tbl FROM bar
ORDER BY val1;

4 rows affected.

[(1, 1, u'foo'), (1000, 2, u'foo'), (1, 3, u'bar'), (1001, 4, u'foo')]

## Meanwhile in pg 9.6...
#### (Above steps were repeated using old syntax)

In [20]:
%%sql $connection96
DROP TABLE IF EXISTS bar;
DROP TABLE IF EXISTS foo;

CREATE TABLE foo (id SERIAL PRIMARY KEY, val1 INTEGER);
INSERT INTO foo(val1) VALUES (1);
ALTER SEQUENCE foo_id_seq RESTART WITH 1000;
INSERT INTO foo(val1) VALUES (2);
CREATE TABLE bar (LIKE foo INCLUDING ALL);
INSERT INTO bar(val1) VALUES (3);
INSERT INTO foo(val1) VALUES (4);

Done.
Done.
Done.
1 rows affected.
Done.
1 rows affected.
Done.
1 rows affected.
1 rows affected.

[]

In [21]:
%%sql $connection96 
SELECT id, val1, 'foo' as tbl FROM foo
UNION
SELECT id, val1, 'bar' as tbl FROM bar
ORDER BY val1;

4 rows affected.

[(1, 1, u'foo'), (1000, 2, u'foo'), (1001, 3, u'bar'), (1002, 4, u'foo')]

In [23]:
%%sql $connection96
DROP TABLE foo CASCADE;
INSERT INTO bar(val1) VALUES (5);

Done.

IntegrityError: (psycopg2.IntegrityError) null value in column "id" violates not-null constraint
DETAIL:  Failing row contains (null, 5).
 [SQL: 'INSERT INTO bar(val1) VALUES (5);']

# 2. Native partitioning

## Messing with partitions

In [24]:
%%sql $connection10
DROP TABLE IF EXISTS measurement;
DROP TABLE IF EXISTS site;
DROP TABLE IF EXISTS pollutant;

CREATE TABLE site (id INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY, name TEXT);
INSERT INTO site(name) values ('Marszalkowska'), ('Niepodleglosci'), ('Podlesna'), ('Wokalna');

CREATE TABLE pollutant (id INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY, name TEXT);
INSERT INTO pollutant(name) values ('PM10'), ('PM2.5'), ('CO2');

CREATE TABLE measurement(
id INTEGER GENERATED ALWAYS AS IDENTITY,
datetime TIMESTAMPTZ,
site_id INTEGER,
pollutant_id INTEGER,
value FLOAT)
PARTITION BY RANGE (datetime);

CREATE TABLE measurement_201708
PARTITION OF measurement(datetime)
FOR VALUES FROM ('2017-08-01') TO ('2017-09-01');
CREATE TABLE measurement_201709
PARTITION OF measurement(datetime)
FOR VALUES FROM ('2017-09-01') TO ('2017-10-01');
CREATE TABLE measurement_201710
PARTITION OF measurement(datetime)
FOR VALUES FROM ('2017-10-01') TO ('2017-11-01');

ALTER TABLE measurement_201708 ADD PRIMARY KEY (id);
ALTER TABLE measurement_201708 ADD CONSTRAINT fk_measurement_201708_site FOREIGN KEY (site_id) REFERENCES site(id);
CREATE INDEX idx_measurement_201708_datetime ON measurement_201708(datetime);

ALTER TABLE measurement_201709 ADD PRIMARY KEY (id);
ALTER TABLE measurement_201709 ADD CONSTRAINT fk_measurement_201709_site FOREIGN KEY (site_id) REFERENCES site(id);
CREATE INDEX idx_measurement_201709_datetime ON measurement_201709(datetime);

ALTER TABLE measurement_201710 ADD PRIMARY KEY (id);
ALTER TABLE measurement_201710 ADD CONSTRAINT fk_measurement_201710_site FOREIGN KEY (site_id) REFERENCES site(id);
CREATE INDEX idx_measurement_201710_datetime ON measurement_201710(datetime);

Done.
Done.
Done.
Done.
4 rows affected.
Done.
3 rows affected.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [25]:
%%sql $connection10
INSERT INTO measurement(datetime, site_id, pollutant_id, value)
SELECT '2017-08-01'::TIMESTAMPTZ + ((random()*90)::int) * INTERVAL '1 day',
(1 + random()*(SELECT max(id)-1 FROM site))::int,
(1 + random()*(SELECT max(id)-1 FROM pollutant))::int,
random()
FROM generate_series(1,1000);

1000 rows affected.

[]

In [26]:
%%sql $connection10
SELECT * FROM measurement WHERE datetime BETWEEN '2017-09-20' AND '2017-09-27' limit 5;

5 rows affected.

[(1, datetime.datetime(2017, 9, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 4, 2, 0.97444453695789),
 (20, datetime.datetime(2017, 9, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 1, 2, 0.518974691163749),
 (21, datetime.datetime(2017, 9, 25, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 3, 2, 0.689467356074601),
 (23, datetime.datetime(2017, 9, 27, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 3, 2, 0.846892023924738),
 (26, datetime.datetime(2017, 9, 23, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 3, 1, 0.278113745618612)]

In [27]:
%%sql $connection10
EXPLAIN SELECT * FROM measurement WHERE datetime BETWEEN '2017-09-20' AND '2017-09-27' limit 5;

6 rows affected.

[(u'Limit  (cost=4.22..11.48 rows=5 width=28)',),
 (u'  ->  Append  (cost=4.22..14.39 rows=7 width=28)',),
 (u'        ->  Bitmap Heap Scan on measurement_201709  (cost=4.22..14.39 rows=7 width=28)',),
 (u"              Recheck Cond: ((datetime >= '2017-09-20 00:00:00+00'::timestamp with time zone) AND (datetime <= '2017-09-27 00:00:00+00'::timestamp with time zone))",),
 (u'              ->  Bitmap Index Scan on idx_measurement_201709_datetime  (cost=0.00..4.22 rows=7 width=0)',),
 (u"                    Index Cond: ((datetime >= '2017-09-20 00:00:00+00'::timestamp with time zone) AND (datetime <= '2017-09-27 00:00:00+00'::timestamp with time zone))",)]

# 3. Multicolumn statistics
## aka correlated statistics

In [28]:
%%sql $connection10
DROP TABLE IF EXISTS counting_log;
CREATE TABLE counting_log (id INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY, datetime TIMESTAMP WITH TIME ZONE, child_id INTEGER, word TEXT);
INSERT INTO counting_log(datetime, child_id, word) 
SELECT current_timestamp, i%1000, 
CASE WHEN i%4=1 THEN 'eeny' 
     WHEN i%4=2 THEN 'meeny' 
     WHEN i%4=3 THEN 'miny' 
     WHEN i%4=0 THEN 'moe' 
     ELSE 'nope' END 
FROM generate_series(1, 1000000) i;
CREATE INDEX idx_counting_log_child_id on counting_log(child_id);
CREATE INDEX idx_counting_log_datetime on counting_log(datetime);
ANALYZE counting_log;

Done.
Done.
1000000 rows affected.
Done.
Done.
Done.

[]

In [29]:
%%sql $connection10 
EXPLAIN SELECT datetime FROM counting_log WHERE child_id=123;

4 rows affected.

[(u'Bitmap Heap Scan on counting_log  (cost=19.96..2700.09 rows=972 width=8)',),
 (u'  Recheck Cond: (child_id = 123)',),
 (u'  ->  Bitmap Index Scan on idx_counting_log_child_id  (cost=0.00..19.71 rows=972 width=0)',),
 (u'        Index Cond: (child_id = 123)',)]

In [30]:
%%sql $connection10 
EXPLAIN SELECT datetime FROM counting_log WHERE word='miny';

2 rows affected.

[(u'Seq Scan on counting_log  (cost=0.00..19643.00 rows=248333 width=8)',),
 (u"  Filter: (word = 'miny'::text)",)]

In [31]:
%%sql $connection10 
EXPLAIN SELECT datetime FROM counting_log WHERE word='miny' and child_id=123;

5 rows affected.

[(u'Bitmap Heap Scan on counting_log  (cost=19.78..2702.34 rows=241 width=8)',),
 (u'  Recheck Cond: (child_id = 123)',),
 (u"  Filter: (word = 'miny'::text)",),
 (u'  ->  Bitmap Index Scan on idx_counting_log_child_id  (cost=0.00..19.71 rows=972 width=0)',),
 (u'        Index Cond: (child_id = 123)',)]

In [32]:
%%sql $connection10 
SELECT count(datetime) FROM counting_log WHERE word='miny' and child_id=123;

1 rows affected.

[(1000L,)]

## Postgres 10 to the rescue!

In [33]:
%%sql $connection10
CREATE STATISTICS st_counting_log_child_id_word ON child_id, word FROM counting_log;

Done.

[]

In [37]:
%%sql $connection10
ANALYZE counting_log;
EXPLAIN SELECT datetime FROM counting_log WHERE word='miny' and child_id=123;

Done.
5 rows affected.

[(u'Bitmap Heap Scan on counting_log  (cost=19.97..2702.54 rows=973 width=8)',),
 (u'  Recheck Cond: (child_id = 123)',),
 (u"  Filter: (word = 'miny'::text)",),
 (u'  ->  Bitmap Index Scan on idx_counting_log_child_id  (cost=0.00..19.72 rows=973 width=0)',),
 (u'        Index Cond: (child_id = 123)',)]

In [38]:
%%sql $connection10
SELECT stxname, stxkeys, stxkind, stxndistinct, stxdependencies 
  FROM pg_statistic_ext 
  WHERE stxname = 'st_counting_log_child_id_word';

1 rows affected.

[(u'st_counting_log_child_id_word', '3 4', [u'd', u'f'], '{"3, 4": 1000}', '{"3 => 4": 1.000000}')]

# 4. More parallelism!

In [39]:
%%sql $connection10
show min_parallel_table_scan_size

1 rows affected.

[(u'8MB',)]

In [40]:
%%sql $connection10
show min_parallel_index_scan_size

1 rows affected.

[(u'512kB',)]

In [41]:
%%sql $connection10
show max_parallel_workers

1 rows affected.

[(u'8',)]

In [42]:
%%sql $connection10
DROP TABLE IF EXISTS trigonometry;
CREATE TABLE trigonometry AS SELECT i AS arg, sin(i) AS sine, cos(i) AS cosine, tan(i) AS tangent 
FROM generate_series(0, 100000, 0.01) i;

CREATE INDEX idx_trigonometry_arg ON trigonometry(arg);
CREATE INDEX idx_trigonometry_sine ON trigonometry(sine);
CREATE INDEX idx_trigonometry_cosine ON trigonometry(cosine);

Done.
10000001 rows affected.
Done.
Done.
Done.

[]

### Parallel aggregate (old stuff)

In [43]:
%%sql $connection10
EXPLAIN SELECT count(arg) FROM trigonometry WHERE arg > 50000;

6 rows affected.

[(u'Finalize Aggregate  (cost=140657.84..140657.85 rows=1 width=8)',),
 (u'  ->  Gather  (cost=140657.63..140657.84 rows=2 width=8)',),
 (u'        Workers Planned: 2',),
 (u'        ->  Partial Aggregate  (cost=139657.63..139657.64 rows=1 width=8)',),
 (u'              ->  Parallel Seq Scan on trigonometry  (cost=0.00..134437.89 rows=2087896 width=8)',),
 (u"                    Filter: (arg > '50000'::numeric)",)]

### Parallel index scan (new and shiny)

In [44]:
%%sql $connection10
EXPLAIN SELECT * FROM trigonometry WHERE arg > 50000;

2 rows affected.

[(u'Index Scan using idx_trigonometry_arg on trigonometry  (cost=0.43..203653.08 rows=5010951 width=32)',),
 (u"  Index Cond: (arg > '50000'::numeric)",)]

In [45]:
%%sql $connection10
SET parallel_setup_cost=100;
EXPLAIN SELECT * FROM trigonometry WHERE arg > 50000;

Done.
2 rows affected.

[(u'Index Scan using idx_trigonometry_arg on trigonometry  (cost=0.43..203653.08 rows=5010951 width=32)',),
 (u"  Index Cond: (arg > '50000'::numeric)",)]

In [46]:
%%sql $connection10
SET parallel_setup_cost=1000;
EXPLAIN SELECT arg FROM trigonometry WHERE sine > 0.999 AND arg >100 AND arg < 10000;

Done.
5 rows affected.

[(u'Gather  (cost=1000.43..40197.28 rows=13576 width=8)',),
 (u'  Workers Planned: 2',),
 (u'  ->  Parallel Index Scan using idx_trigonometry_arg on trigonometry  (cost=0.43..37839.68 rows=5657 width=8)',),
 (u"        Index Cond: ((arg > '100'::numeric) AND (arg < '10000'::numeric))",),
 (u"        Filter: (sine > '0.999'::double precision)",)]

## Let's spread some chaos

In [47]:
%%sql $connection10
SET max_parallel_workers =0;
SET force_parallel_mode=on;
EXPLAIN ANALYZE SELECT arg FROM trigonometry WHERE sine > 0.999 AND arg >100 AND arg < 10000;

Done.
Done.
9 rows affected.

[(u'Gather  (cost=1000.43..40197.28 rows=13576 width=8) (actual time=0.392..260.467 rows=14097 loops=1)',),
 (u'  Workers Planned: 2',),
 (u'  Workers Launched: 0',),
 (u'  ->  Parallel Index Scan using idx_trigonometry_arg on trigonometry  (cost=0.43..37839.68 rows=5657 width=8) (actual time=0.169..258.799 rows=14097 loops=1)',),
 (u"        Index Cond: ((arg > '100'::numeric) AND (arg < '10000'::numeric))",),
 (u"        Filter: (sine > '0.999'::double precision)",),
 (u'        Rows Removed by Filter: 975902',),
 (u'Planning time: 0.187 ms',),
 (u'Execution time: 261.186 ms',)]

In [48]:
%%sql $connection10
SET max_parallel_workers = 8;
SET force_parallel_mode=off;

Done.
Done.

[]

# 5. Full text search support JSON & JSONB columns

In [51]:
%%sql $connection10
CREATE TABLE transactions(
  id INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY, 
  transaction_id VARCHAR(10), 
  user_id INTEGER, 
  created_datetime TIMESTAMP WITH TIME ZONE, 
  result BOOL, 
  amount INT ,
  response_data JSON);

Done.

[]

In [53]:
%%sql $connection10
INSERT INTO transactions(
    transaction_id, 
    user_id, 
    created_datetime, 
    result, 
    amount, 
    response_data)
SELECT 
  tran.id, 
  ceil(random()*100), 
  tran.datetime, 
  tran.result, 
  tran.amount, 
  ('{"transaction": 
    {"id": "'|| tran.id ||'", 
     "transaction_datetime": "'|| tran.datetime || '",
     "amount": '|| tran.amount::text || ',
     "is_success": "'|| tran.result || '",
     "message": "'|| tran.msg || '"}}')::json
FROM (
  SELECT 
    substring(md5(random()::text), 1, 10) as id, 
    current_timestamp + (ceil(random()*1000)-500) * INTERVAL '1 minute' as datetime,
    ceil(random()*1000) as amount,
    NOT (i%3=1) as result,
    CASE WHEN i%9=1 THEN 'insufficient funds' 
         WHEN i%9=4 THEN 'blocked account' 
         WHEN i%9=7 THEN 'fraud detected' 
         ELSE 'accepted' END as msg
    FROM generate_series(1,1000) i) tran;

1000 rows affected.

[]

In [54]:
%%sql $connection10
CREATE INDEX idx_transactions_response_data 
  ON transactions USING GIN (to_tsvector('english', response_data));

Done.

[]

In [55]:
%%sql $connection10
SELECT response_data FROM transactions limit 5;

5 rows affected.

[({u'transaction': {u'message': u'insufficient funds', u'amount': 592, u'is_success': u'false', u'transaction_datetime': u'2017-11-08 05:04:56.859288+00', u'id': u'428ef960c5'}},),
 ({u'transaction': {u'message': u'accepted', u'amount': 979, u'is_success': u'true', u'transaction_datetime': u'2017-11-08 17:08:56.859288+00', u'id': u'03d857af3c'}},),
 ({u'transaction': {u'message': u'accepted', u'amount': 325, u'is_success': u'true', u'transaction_datetime': u'2017-11-08 16:48:56.859288+00', u'id': u'd7af7d4046'}},),
 ({u'transaction': {u'message': u'blocked account', u'amount': 355, u'is_success': u'false', u'transaction_datetime': u'2017-11-08 18:34:56.859288+00', u'id': u'892adc1556'}},),
 ({u'transaction': {u'message': u'accepted', u'amount': 103, u'is_success': u'true', u'transaction_datetime': u'2017-11-08 17:16:56.859288+00', u'id': u'09295d285b'}},)]

In [56]:
%%sql $connection10
SELECT transaction_id 
  FROM transactions 
  WHERE to_tsvector('english', response_data->'transaction'->'message') @@ 
    to_tsquery('english', 'insufficient') LIMIT 5;

5 rows affected.

[(u'428ef960c5',),
 (u'be93dcbf0e',),
 (u'793b943f2b',),
 (u'9ca79fc79d',),
 (u'd880943fb7',)]

In [57]:
%%sql $connection10
SELECT transaction_id 
  FROM transactions
  WHERE to_tsvector('english', response_data->'transaction'->'message') @@ 
    'insuffici' LIMIT 5;

5 rows affected.

[(u'428ef960c5',),
 (u'be93dcbf0e',),
 (u'793b943f2b',),
 (u'9ca79fc79d',),
 (u'd880943fb7',)]

In [58]:
%%sql $connection10
EXPLAIN SELECT transaction_id 
  FROM transactions
  WHERE to_tsvector('english', response_data->'transaction'->'message') @@ 
    to_tsquery('english', 'insufficient') LIMIT 5;

3 rows affected.

[(u'Limit  (cost=0.00..299.50 rows=5 width=38)',),
 (u'  ->  Seq Scan on transactions  (cost=0.00..299.50 rows=5 width=38)',),
 (u"        Filter: (to_tsvector('english'::regconfig, ((response_data -> 'transaction'::text) -> 'message'::text)) @@ '''insuffici'''::tsquery)",)]